# Node.js
node_modules/

# Python
venv/
env/
*.pyc

# macOS
.DS_Store

# Build output
dist/
build/

# Environment files
.env
.env*

# IDE files (optional)
.idea/
*.iml
*.vscode/

# Packaged
infrastructure/cloudformation/packaged*